<!DOCTYPE html>
<html>
<head>
    <title>Birthday Sparkle – Know Your Shine Time!</title>
    <script>
        window.onload = function () {
            alert("Hey buddy Good day! Please enter the below details:");
        };
    </script>
</head>
<body style="font-family: Arial, sans-serif; padding: 30px;">
    <h1>🎉 Birthday Sparkle 🎂</h1>
    <form method="POST">
        <label>Enter your name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Select your gender:</label><br>
        <input type="radio" name="gender" value="Male" required> Male
        <input type="radio" name="gender" value="Female" required> Female<br><br>

        <label>Enter your date of birth:</label><br>
        <input type="date" name="dob" required><br><br>

        <input type="submit" value="Tell Me!">
    </form>

    {% if message %}
    <h3 style="margin-top: 30px; color: green;">{{ message }}</h3>
    <p style="margin-top: 15px; font-size: 14px; color: gray;">
        The application is currently Dockerized and running on a live EC2 instance server – <strong>Shivaaa</strong> 💻🚀
    </p>
{% endif %}

</body>
</html>
